.HiddenMenu-container{
    display: inline;
    position: absolute;
    top: 70px;
    padding-right: 80px;
}

.HiddenMenu-ul{
    list-style: none;
    text-align: left;
}

.HiddenMenu-li{
    font-size: 1.1rem;
}